    header{
        background-color: rgb(68, 0, 62);
        color: rgb(140, 0, 255);
    }
    .cabeçalho-imagem{
        width: 10%;
    }

    .cabeçalho {
        background-color: rgb(186, 112, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    .escola-imagem{
        width: 25%;
    }
    .escola{
        background-image: linear-gradient();
    }
    .escola{
        background-image: linear-gradient(#424E61, #4EBFE9);
    }
    .escola{
        background-image: linear-gradient(#424E61, #4EBFE9);
        color: white;
    }
    .escola{
        background-image: linear-gradient(#424E61, #4EBFE9);
        color: white;
        display: flex;
    }
    .escola-div-conteudo{
        width: 35%;
    }
    